@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* background-image: linear-gradient(to bottom, color(display-p3 0.008 0.02 0.027), color(display-p3 0.25 0.25 0.25)); */
  font-family: 'Kaushan Script', cursive;
  /* background-color: #4783B3; */
  scroll-behavior: smooth;
  background-color: rgba(70,130,179,1) 
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0 1rem;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  will-change: transform;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav li a {
  display: block;
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

h1, h2, p{
  color: color(display-p3 0 0 0);
}

h1, h2, h3 {
  font-size: 10vw !important;
  color: white;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  text-align: center;
  color: white;
}

.foot-border,
.sticky-nav {
  box-shadow: hsl(306, 100%, 53%) 0px 0px 0.25em, hsl(195, 100%, 61%) 0px 0.25em 1em;
}
.glass {
  background: rgba( 0, 0, 0, 0.7 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
}

.glass-skill {
  opacity: 1 !important;
  background: rgba( 66, 127, 196, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass-nav {
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
}

.sticky-nav {
  position: fixed !important;
}

.t-container {
  overflow: hidden;
  width: 100%;
}

.rotate {
  transform: rotate(15deg);
}

.text-container {
  white-space: nowrap;
  font-size: 24px;
}

.word {
  display: flex !important;
}

.no-event {
  pointer-events: none;
}

.blend {
  mix-blend-mode: luminosity;
}
.blend:hover {
  mix-blend-mode: normal;
}

.main-bg {
  background: rgb(250,250,249);
  background: linear-gradient(180deg, rgba(250,250,249,0) 93%, rgba(71,131,179,1) 100%);
}
.bg {
  background: rgb(87,196,204);
background: linear-gradient(0deg, rgba(87,196,204,0) 95%, rgba(70,130,179,1) 100%);
  z-index: -1;
}

.shadow-md { 
  transition:
  transform .8s ease-in-out,  
  box-shadow .8s ease-in-out;
  transform: scale(1.2);
}

.shadow-md:hover {
  transform: scale(1.3);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.image-Op {
  opacity: 0;
  transition: 
  transform .8s ease-in-out, 
  opacity .8s ease-in-out;
  pointer-events: none;
  filter: drop-shadow(0 0 0.20rem);
  z-index: 1;
}

.imgevento {
  transform-origin: center center;
  animation: imgevento 6s ease-in-out alternate infinite;
  opacity: 1 !important;
}

@keyframes imgevento {
  0%,
  100% {
    filter: saturate(100%) invert(0%);
  }
  
  25% {
    filter: saturate(180%) invert(10%);
  }
  
  50% {
    filter: saturate(100%) invert(0%);
  }
  
  75% {
    filter: saturate(150%) invert(20%);
  }
}

.container:hover + .image-Op {
  opacity: 1;
  transform:  scale(1.3) translateY(-30%);
}

.container:hover .image {
  transform: scale(1.1);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-section {
  display: flex;
}

.horizontal-panel, .bottom-panel {
  width: 100%;
  height: 100vh;
  flex: 1 0 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.odd-panel {
  width: 50% !important;
  justify-content:flex-start;
  left: 190px;
  position: relative;
}

.full-width-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full-width-image-container-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.projects {
  transform: rotate(10deg);
}

.ast {
  transform: scale(2);
}

.site-pop {
  height: 90vh;
  width: 90vw;
  left: 55px
}

.z-1 {
  z-index: 1;
}

.tool {
  color: #1568c6;
  border-color: #1568c6;
  border-style: solid;
  border-radius: 20px;
}

.img {
  background-attachment: fixed;
  background-position: center;
}

.rotate {
  width: 500px;
  height: 500px;
  animation-name: rotate;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}

@keyframes rotate {
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}

.bg-bottom {
  background-color: #010A15 !important;
}

.bg-card {
  background: rgb(87,196,204);
  background: linear-gradient(180deg, #154D6A 92%, rgba(186,86,29,1) 100%);
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

.scale:hover {
  transform: scale(1.1);
}