@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(to bottom, color(display-p3 0.008 0.02 0.027), color(display-p3 0.25 0.25 0.25));
  font-family: 'Kaushan Script', cursive;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0 1rem;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  will-change: transform;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav li a {
  display: block;
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

section {
  width: 100%;
  height: 100vh;
}

h1, h2, p {
  color: color(display-p3 0 0 0);
}

h1, h2 {
  font-size: 190px !important;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

.t-container {
  overflow: hidden;
  width: 100%;
}

.text-container {
  white-space: nowrap;
  font-size: 24px;
}

.word {
  display: flex !important;
}

.shadow-md { 
  transition:
  transform .4s ease-in-out, 
  outline .6s ease-in-out, 
  box-shadow .4s ease-in-out;
  transform: scale(1.2);
}

.shadow-md:hover {
  transform: scale(1.3);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* outline: rgb(111, 87, 230) solid 3px; */
}

.card {
  background-image: url(../public/blob3.png)
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
}

.image-Op {
  opacity: 0;
  transition: 
  transform .8s ease-in-out, 
  opacity .8s ease-in-out;
  pointer-events: none;
  filter: drop-shadow(0 0 0.20rem);
}

.container:hover + .image-Op {
  opacity: 1;
  transform:  scale(1.3) translateY(-30%);
  pointer-events: none;
}

.container:hover .image {
  transform: scale(1.1);
}

.blend {
  mix-blend-mode: difference;
  text-overflow: clip;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-section {
  display: flex;
  /* transform: translateZ(913px) rotateZ(6deg); */
  background-color: transparent;
}

.horizontal-panel {
  width: 100%;
  height: 100vh;
  flex: 1 0 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
}

.full-width-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full-width-image-container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.projects {
  transform: rotate(10deg);
}

.ast {
  transform: scale(2);
}

.site-pop {
  height: 90vh;
  width: 90vw;
  left: 55px
}

.z-1 {
  z-index: 1;
}

.tool {
  color: #1568c6;
  border-color: #1568c6;
  border-style: solid;
  border-radius: 20px;
}

.img {
  background-attachment: fixed;
  background-position: center;
}
